<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Staatliches&display=swap');
    </style>
    <title>Recommendations</title>
</head>

<body>
    <header>
        <a class="header-link" href="/">
            <h1 class="header-headline">The Recommendation Application</h1>
        </a>
        <nav>
            <ul class="nav-links">
                <a class="nav-link" href="/books">
                    <li>BOOKS</li>
                </a>
                <a class="nav-link" href="/shows">
                    <li>TV SHOWS</li>
                </a>
                <a class="nav-link" href="/restaurants">
                    <li>RESTAURANTS</li>
                </a>
                <a class="nav-link" href="/recipes">
                    <li>RECIPES</li>
                </a>
                <a class="nav-link" href="/dawgs">
                    <li>DAWGS</li>
                </a>
            </ul>
        </nav>
    </header>
    <main class="index-main">
        <h2 class="index-headline">BOOK DETAILS</h2>
        <p>Recommended by: <%=book.createdBy.first_name%> <%=book.createdBy.last_name%></p>
        <div class="container">
            <div class="img-container">
                <% if (book.img === '') { %>
                    <img class="show-img" src="https://i.imgur.com/3iso1dM.png">
                <% } else { %>
                    <img class="show-img" src="<%=book.img%>"> 
               <% } %>
            </div>
            <div class="description-container">
                <h2 class="show-headline">Title:</h2>
                <p class="show-text"><%=book.title%></p>
                <h2 class="show-headline">Author:</h2>
                <p class="show-text"><%=book.author%></p>
                <h2 class="show-headline">Notes:</h2>
                <p class="show-text"><%=book.description%></p>
                <h2 class="show-headline">Rating:</h2>
                <p class="show-text"><%=book.rating%></p>
                <h2 class="show-headline">Recommended by:</h2>
                <p class="show-text"><%=book.recommended%></p>
                <% if (user && user._id.equals(book.createdBy._id)) { %>
                    <div class="show-buttons">
                        <a href="/books/<%=book._id%>/edit"> <button class="show-btn">EDIT</button></a>
                        <form action="/books/<%=book._id%>?_method=DELETE" method="POST">
                            <input class="show-btn" type="submit" value="DELETE" />
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="show-foot" id="book-foot"></div>
    </main>
    <footer>
        <p>© Nicole Baird | 2022</p>
    </footer>
</body>

</html>