<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Staatliches&display=swap');
    </style>
    <title>Recommendations</title>
</head>

<body>
    <header>
        <a class="header-link" id="active" href="/">
            <h1 class="header-headline">The Recommendation Application</h1>
        </a>
        <nav>
            <ul class="nav-links">
                <a class="nav-link" href="/books">
                    <li>BOOKS</li>
                </a>
                <a class="nav-link" href="/shows">
                    <li>TV SHOWS</li>
                </a>
                <a class="nav-link" href="/restaurants">
                    <li>RESTAURANTS</li>
                </a>
                <a class="nav-link" href="/recipes">
                    <li>RECIPES</li>
                </a>
                <a class="nav-link" href="/dawgs">
                    <li>DAWGS</li>
                </a>
                <% if(user) { %>
                <a class="home-login-link" href="/logout"><button class="home-login">LOGOUT</button></a>
                <a class="home-login-link" href="/dashboard"><button class="home-login">DASHBOARD</button></a>
                <% } else { %>
                <a class="home-login-link" href="/login"><button class="home-login">LOGIN</button></a>
                <a class="home-login-link" href="/signup"><button class="home-login">SIGN UP</button></a>
                <% } %>
            </ul>
        </nav>
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <ul class="mobile-menu">
                <a class="nav-link" href="/books">
                    <li>BOOKS</li>
                </a>
                <a class="nav-link" href="/shows">
                    <li>TV SHOWS</li>
                </a>
                <a class="nav-link" href="/restaurants">
                    <li>RESTAURANTS</li>
                </a>
                <a class="nav-link" href="/recipes">
                    <li>RECIPES</li>
                </a>
                <a class="nav-link" href="/dawgs">
                    <li>DAWGS</li>
                </a>
            </ul>
        </div>
    </header>
    <main class="recipe-main">
        <h2 class="index-headline">RECIPE DETAILS</h2>
        <p class="created-by">Recommended by: <%=recipe.createdBy.first_name%> <%=recipe.createdBy.last_name%></p>
        <div class="container">
            <div class="img-container" id="recipe-image-container">
                <% if (recipe.img === '') { %>
                    <img class="show-img" src="https://i.imgur.com/iiY1YhT.png">
                <% } else { %>
                    <img class="show-img" src="<%=recipe.img%>"> 
               <% } %>
            </div>
            <div class="description-container" id="recipe-description-container">
                <h2 class="show-headline">Name:</h2>
                <p class="show-text"><%=recipe.name%></p>
                <h2 class="show-headline">Link to Recipe:</h2>
                <a class="recipe-link" href="<%=recipe.link%>"><p id="rec-link-text" class="show-text">Click here for full recipe</p></a>
                <h2 class="show-headline">Rating:</h2>
                <p class="show-text"><%=recipe.rating%></p>
                <% if (user && user._id.equals(recipe.createdBy._id)) { %>
                <div class="show-buttons">
                    <a href="/recipes/<%=recipe._id%>/edit"> <button class="show-btn">EDIT</button></a>
                    <form action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST">
                        <input class="show-btn" type="submit" value="DELETE" />
                    </form>
                </div>
                <% } %>
            </div>
        </div>
        <div class="show-foot" id="recipe-footer"></div>
    </main>
    <footer>
        <p>© Nicole Baird | 2022</p>
    </footer>
</body>

</html>