<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
</head>
<body>
    <h2>RESTAURANT RECOMMENDATIONS</h2>
    <h2><%=restaurant.name%></h2>
    <h2><%=restaurant.neighborhood%></h2>
    <h2><%=restaurant.best_dishes%></h2>
    <h2><%=restaurant.img%></h2>
    <h2><%=restaurant.rating%></h2>
    <h2><%=restaurant.recommended%></h2>
</body>
</html>